<div class="container">
  <h1 data-text="PXLCLK">PXLCLK</h1>

  <img
    class="target"
    [class.rotate-vert-center]="!(synced$ | async)"
    [src]="target"
  />

  <p class="counter">
    {{ clicks$ | async | number }} click{{ (clicks$ | async) === 1 ? "" : "s" }}
  </p>

  <canvas #canvas width="512" height="512" (click)="onCanvasClick($event)">
    what have you done?
  </canvas>
</div>

<div class="dont-look">
  <ng-container *ngFor="let img of list; let i = index">
    <img #img [id]="'img-' + i" [src]="img" />
  </ng-container>
</div>

<ng-container *ngIf="synced$ | async">
  <button>RESET</button>
</ng-container>

<img
  class="sound-on-sticker"
  src="https://media.giphy.com/media/oFS6vzfGdYvKFbeJ7v/giphy.gif"
/>
